stream {
    upstream vless_backend {
        server vpn.spectralvpn.ru:444;
    }

    server {
        listen 444 reuseport;
        listen [::]:444 reuseport;
        proxy_pass vless_backend;
        proxy_protocol on;
        proxy_timeout 30s;
        proxy_connect_timeout 10s;
    }
}