server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name spectralvpn.ru;

    ssl_certificate /etc/letsencrypt/live/spectralvpn.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/spectralvpn.ru/privkey.pem;

    gzip on;
    gzip_types text/css text/javascript text/plain application/javascript application/json;
    gzip_min_length 1000;

    root /var/www/html/spectralvpn.ru;
    index index.html;

    location / {
        try_files $uri $uri/ =400;
    }
}