[Unit]
Description=API SpectralVPN
After=network.target
Wants=network.target

[Service]
User = root
WorkingDirectory=/etc/spectralvpn_api
Environment="PATH=/etc/spectralvpn_api/.venv/bin"
ExecStart=/etc/spectralvpn_api/.venv/bin/uvicorn main:app
Restart=always
RestartSec=3
KillMode=control-group

[Install]
WantedBy=multi-user.target